body {
	font-family: "Lato", sans-serif;
	color: #747704;
	font-weight: 300;
}

.text_muted {
	color: #7d97ad;
}

.text_thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	padding-top: 30px;
	width: 80px;
}

.text-uppercase {
	color: #2d3c49;
}